/* Styles for the document */

body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    margin: 0;
}

p {
    font-size: 1em;
    margin: 0 0 1em;
}